body{
	font-family: 'Montserrat', sans-serif;
}
header {
    
    padding: 2px;
    background: linear-gradient(rgb(164, 223, 238) 70%,aquamarine)
      
}
.caixa {
    width: 940px;
    height: 60px;
    position: relative;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}
header h1{
    padding: 5px 0 0 10px;
} h2 {
   
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 100px;
   
}


main {
    background: linear-gradient(aquamarine 25%,rgb(164, 223, 238) )
}
.principal{
    width: 940px;
    margin: 0px auto ;
    padding: 80px;
    text-align: center;
    
  
}
.caixaDigite{
    width: 45%;
    display: inline-block;
}
.areadigite{
    height: 300px;
    width: 400px;
    border: 2px solid aquamarine;
	border-radius: 40px;
    box-shadow: 5px 5px 5px black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(aquamarine,rgb(164, 223, 238));
}
.areadigite::placeholder{
    color: rgb(13, 13, 141);
}
.caixaResultado{
    width:49%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px ;
}
.arearesultado{
    height: 400px;
    width: 400px;
    border: 2px solid aquamarine;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    background: linear-gradient(aquamarine,rgb(164, 223, 238));
}
.arearesultado::placeholder{
    color:rgb(13, 13, 141);
    vertical-align: middle;
    font-size: 19px;
}
.imgresultado{
   position: absolute;
}
.input{
    width: 100px;
    height: 32px;
    margin-top: 8px;
    font-weight: bold;
    padding: 6px;
    background:#1d64bb;
    border: 2px solid rgb(84, 141, 206);
	border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    color: blanchedalmond;
    cursor: pointer;
    

}
footer{
    background-color: rgb(164, 223, 238);
   
	padding-bottom: 5px;
  
}
footer p {
    color: rgb(4, 21, 24);
    margin-bottom: 5px;
}
@media screen and (max-width:982px){
    .caixa, .principal{
        width: auto;
    }
    .caixaResultado{
        display: block;
        margin: 20px auto;
    }
}
