header {
    background: rgb(164, 223, 238);
    padding: 2px;
    
      
}
.caixa {
    width: 940px;
    height: 60px;
    position: relative;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}
header h1{
    padding: 5px 0 0 10px;
} h2 {
   
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 100px;
   
}


main {

background-color: aqua;

}
.caixaDigite {
    width: 300px;
    height: 400px;
    vertical-align: top;
  
    display:inline-block;
    margin: 30px;
   
    

}
.caixaResultado{
    width: 300px;
    height: 400px;
    vertical-align: top;

 display: inline-block;

 margin: 30px;
 padding-bottom: 40px;
}
#areaDigite{
   
    width: 300px;
    height: 400px;
    padding: 5px;
    margin: 5px;
	box-sizing: border-box;
    border:2px solid rgb(24, 174, 201);
	border-radius: 10px;

   
}
#areaResultado{
  
    width: 300px;
    height: 400px;
    padding: 5px;
    margin: 5px;
	box-sizing: border-box;
    border:2px solid rgb(24, 174, 201);
	border-radius: 10px;

    
}
#criptografar{
    font-size: 14px;
    font-weight: bold;
    padding: 6px;
    margin-left: 25px;
    border:2px solid rgb(24, 174, 201);
	border-radius: 10px;

}
#descriptografar{ 
 font-size: 14px;
 font-weight: bold;
 padding: 6px;
margin-left: 25px;
border:2px solid rgb(24, 174, 201);
border-radius: 10px;

}
#Copiar {
    font-size: 14px;
    font-weight: bold;
    padding: 6px;
    margin-left: 230px;
    border:2px solid rgb(24, 174, 201);
	border-radius: 10px;
}
footer{
    background-color: rgb(164, 223, 238);
	padding-top: 20px;
	padding-bottom: 30px;
}

p {
    color: aliceblue;
}
    