header {
    background: #b6e7f3;
    padding: 2px;

   
}
.caixa {
    width: 940px;
    height: 60px;
    position: relative;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}
header h1{
    padding: 5px 0 0 10px;
} h2 {
   
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 100px;
   
}


main {
   padding: 10px;
    height: 400px;
    background-color: rgb(232, 222, 248);
  
    
 

}
.caixaDigite {

position: relative;
width: 400px;
height: 200px;
margin-left: 20px;


}
#areaDigite {
   
    width: 400px;
    height: 150px;
    position: absolute;
    
    
}
.caixaResultado {
    position: relative;
    width: 400px;
    height: 200px;
    margin-left: 20px;
  
}


#areaResultado {
width: 400px;
height: 150px;
position: absolute;
top: 30px;
      
}
.buttonCript{

    position: absolute;
    top: 180px;
   

   
	
    
}
.buttonDescript{
    position: absolute;
    top: 180px;
    left: 100px;
   
}
